## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Birjand,32.87,59.22,41.00,20,0,6.93,IR,2020-10-25 21:37:56
1,1,Carnarvon,-24.87,113.63,69.80,88,90,17.22,AU,2020-10-25 21:37:57
2,2,Nikolskoye,59.70,30.79,43.00,93,90,6.71,RU,2020-10-25 21:37:57
3,3,Mataura,-46.19,168.86,51.01,66,93,5.99,NZ,2020-10-25 21:36:18
4,4,Isangel,-19.55,169.27,80.60,69,75,11.10,VU,2020-10-25 21:37:57

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Isangel,-19.55,169.27,80.60,69,75,11.10,VU,2020-10-25 21:37:57
9,9,Omboue,-1.57,9.26,77.61,86,100,7.45,GA,2020-10-25 21:37:58
37,37,Puerto Ayora,-0.74,-90.35,75.20,78,20,13.87,EC,2020-10-25 21:38:05
39,39,Kapaa,22.08,-159.32,82.99,74,40,4.70,US,2020-10-25 21:37:13
43,43,Labuhan,-6.88,112.21,78.85,84,97,8.08,ID,2020-10-25 21:38:07
...,...,...,...,...,...,...,...,...,...,...
678,678,Ahuimanu,21.44,-157.84,86.00,66,40,8.05,US,2020-10-25 21:38:40
679,679,Calabozo,8.92,-67.43,78.53,89,87,4.36,VE,2020-10-25 21:36:44
681,681,Tevaitoa,-16.78,-151.50,80.69,69,3,6.67,PF,2020-10-25 21:40:31
682,682,Sola,-13.88,167.55,78.80,94,90,18.77,VU,2020-10-25 21:37:20
683,683,Mahibadhoo,3.78,72.97,81.97,79,100,8.75,MV,2020-10-25 21:37:15

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Isangel,-19.55,169.27,80.60,69,75,11.10,VU,2020-10-25 21:37:57
9,9,Omboue,-1.57,9.26,77.61,86,100,7.45,GA,2020-10-25 21:37:58
37,37,Puerto Ayora,-0.74,-90.35,75.20,78,20,13.87,EC,2020-10-25 21:38:05
39,39,Kapaa,22.08,-159.32,82.99,74,40,4.70,US,2020-10-25 21:37:13
43,43,Labuhan,-6.88,112.21,78.85,84,97,8.08,ID,2020-10-25 21:38:07
...,...,...,...,...,...,...,...,...,...,...
678,678,Ahuimanu,21.44,-157.84,86.00,66,40,8.05,US,2020-10-25 21:38:40
679,679,Calabozo,8.92,-67.43,78.53,89,87,4.36,VE,2020-10-25 21:36:44
681,681,Tevaitoa,-16.78,-151.50,80.69,69,3,6.67,PF,2020-10-25 21:40:31
682,682,Sola,-13.88,167.55,78.80,94,90,18.77,VU,2020-10-25 21:37:20
683,683,Mahibadhoo,3.78,72.97,81.97,79,100,8.75,MV,2020-10-25 21:37:15

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng,Hotel Name
4,Isangel,VU,80.60,69,75,11.10,-19.55,169.27,
9,Omboue,GA,77.61,86,100,7.45,-1.57,9.26,
37,Puerto Ayora,EC,75.20,78,20,13.87,-0.74,-90.35,
39,Kapaa,US,82.99,74,40,4.70,22.08,-159.32,
43,Labuhan,ID,78.85,84,97,8.08,-6.88,112.21,
47,Pekan,MY,75.20,94,20,4.61,3.48,103.40,
54,Cruzeiro Do Sul,BR,82.99,67,23,4.00,-29.51,-51.99,
55,Capitan Bado,PY,83.46,52,62,4.05,-23.27,-55.53,
57,Lasem,ID,78.31,86,94,5.64,-6.69,111.45,
62,Hambantota,LK,78.42,81,100,11.14,6.12,81.12,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # 6c. Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df

,City,Country,Max Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng,Hotel Name
4,Isangel,VU,80.60,69,75,11.10,-19.55,169.27,Volcano Sea View Tree House
9,Omboue,GA,77.61,86,100,7.45,-1.57,9.26,Hotel Olako
37,Puerto Ayora,EC,75.20,78,20,13.87,-0.74,-90.35,Finch Bay Galapagos Hotel
39,Kapaa,US,82.99,74,40,4.70,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
43,Labuhan,ID,78.85,84,97,8.08,-6.88,112.21,bador sepret
...,...,...,...,...,...,...,...,...,...
678,Ahuimanu,US,86.00,66,40,8.05,21.44,-157.84,Paradise Bay Resort
679,Calabozo,VE,78.53,89,87,4.36,8.92,-67.43,Hotel Giardini
681,Tevaitoa,PF,80.69,69,3,6.67,-16.78,-151.50,Hôtel Raiatea Lodge
682,Sola,VU,78.80,94,90,18.77,-13.88,167.55,Ulkel Guest House
683,Mahibadhoo,MV,81.97,79,100,8.75,3.78,72.97,Omadhoo Inn

In [15]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng,Hotel Name
4,Isangel,VU,80.60,69,75,11.10,-19.55,169.27,Volcano Sea View Tree House
9,Omboue,GA,77.61,86,100,7.45,-1.57,9.26,Hotel Olako
37,Puerto Ayora,EC,75.20,78,20,13.87,-0.74,-90.35,Finch Bay Galapagos Hotel
39,Kapaa,US,82.99,74,40,4.70,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
43,Labuhan,ID,78.85,84,97,8.08,-6.88,112.21,bador sepret
...,...,...,...,...,...,...,...,...,...
678,Ahuimanu,US,86.00,66,40,8.05,21.44,-157.84,Paradise Bay Resort
679,Calabozo,VE,78.53,89,87,4.36,8.92,-67.43,Hotel Giardini
681,Tevaitoa,PF,80.69,69,3,6.67,-16.78,-151.50,Hôtel Raiatea Lodge
682,Sola,VU,78.80,94,90,18.77,-13.88,167.55,Ulkel Guest House
683,Mahibadhoo,MV,81.97,79,100,8.75,3.78,72.97,Omadhoo Inn

In [16]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Weather_Database/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))